<div class="show-card">
  <router-link :to="backPath" class="nav"></router-link>
  <card00 v-if="cardsToggle[0][0]"></card00>
  <card01 v-if="cardsToggle[0][1]"></card01>
  <div class="foot-wrap">
    <div class="foot-options">
      <div class="icon-wrap">
        <p class="option-icon font"></p>
        <p class="option-text">改文字</p>
      </div>
      <div class="icon-wrap">
        <p class="option-icon picture"></p>
        <p class="option-text">换图片</p>
      </div>
      <div class="icon-wrap">
        <p class="option-icon share"></p>
        <p class="option-text">分享贺卡</p>
      </div>
    </div>
  </div>
</div>
