<div class="show-card">
  <mt-popup v-model="popupVisible" class="popup-textarea" position="top">
    <mt-field v-model="currentGreet"  type="textarea" rows="4" class="textarea"></mt-field>
  </mt-popup>
  <mt-popup v-model="musicSelectVisible" class="popup-music" position="right">
    <mt-button type="default" class="sureMusic" @click="sureMusic">确定并返回</mt-button>
    <ul v-for="(group, gIndex) in music">
      <li v-for="(m, mIndex) in group" @click="selectMusic(gIndex, mIndex)" :class="{ active: m.isActive }">
        {{ m.name }}
      </li>
    </ul>
  </mt-popup>
  <router-link :to="backPath" class="nav"></router-link>
  <a :class="className" @click="control" class="card-audio">
    <audio autoplay="autoplay" loop="loop" :src="currentMusicUrl" id="myAudio">
    </audio>
  </a>
  <card00 v-if="cardsToggle[0][0]" :greet="currentGreet"></card00>
  <card01 v-if="cardsToggle[0][1]" :greet="currentGreet"></card01>
  <card02 v-if="cardsToggle[0][2]" :greet="currentGreet"></card02>
  <card03 v-if="cardsToggle[0][3]" :greet="currentGreet"></card03>
  <card10 v-if="cardsToggle[1][0]" :greet="currentGreet"></card10>
  <card20 v-if="cardsToggle[2][0]" :greet="currentGreet"></card20>
  <card21 v-if="cardsToggle[2][1]" :greet="currentGreet"></card21>
  <card22 v-if="cardsToggle[2][2]" :greet="currentGreet"></card22>
  <card30 v-if="cardsToggle[3][0]" :greet="currentGreet"></card30>
  <card31 v-if="cardsToggle[3][1]" :greet="currentGreet"></card31>
  <card40 v-if="cardsToggle[4][0]" :greet="currentGreet"></card40>
  <card50 v-if="cardsToggle[5][0]" :greet="currentGreet"></card50>
  <card51 v-if="cardsToggle[5][1]" :greet="currentGreet"></card51>
  <card60 v-if="cardsToggle[6][0]" :greet="currentGreet"></card60>
  <card61 v-if="cardsToggle[6][1]" :greet="currentGreet"></card61>
  <div class="foot-wrap">
    <div class="foot-options">
      <div class="icon-wrap" @click="modiText">
        <p class="option-icon font"></p>
        <p class="option-text">改文字</p>
      </div>
      <div class="icon-wrap">
        <p class="option-icon picture"></p>
        <p class="option-text">换图片</p>
      </div>
      <div class="icon-wrap" @click="changeMusic">
        <p class="option-icon music"></p>
        <p class="option-text">换音乐</p>
      </div>
      <div class="icon-wrap" @click="share">
        <p class="option-icon share"></p>
        <p class="option-text">分享贺卡</p>
      </div>
    </div>
  </div>
</div>
