.show-card {
  position: relative;
  overflow: hidden;
}
.show-card .popup-textarea .textarea {
  font-size: 0.7rem;
  background: skyblue;
}
.show-card .popup-textarea .textarea textarea {
  background: skyblue;
  color: #FFFFFF;
}
.show-card .popup-textarea, 
.show-card .popup-music, 
.show-card .popup-bg {
  width: 100%;
}
.show-card .popup-music,
.show-card .popup-bg {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.show-card .popup-music li {
  line-height: 2rem;
  font-size: 0.8rem;
  border-bottom: 1px solid silver;
  padding-left: 2em;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}
.show-card .popup-bg li {
  float: left;
  width: 5.9rem;
  height: 5.9rem;
  margin: 2px 2px;
}
.show-card .popup-bg li img {
  width: 100%;
  height: 100%;
}
.show-card .popup-music li.active {
  background: darkseagreen;
}
.show-card .popup-bg li img.active {
  outline: 2px solid #f00;
}
.show-card .popup-music .sureMusic,
.show-card .popup-bg .sureBg {
  width: 100%;
  font-size: 0.8rem;
  height: 2rem;
}
.show-card .foot-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
.show-card .foot-options {
  padding: 0.5rem 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
}
.foot-options .icon-wrap {
  text-align: center;
}
.foot-options .option-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.1rem solid #eee;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
}
.foot-options .font {
  background-image: url("./imgs/font-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
}
.foot-options .picture {
  background-image: url("./imgs/pic-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
}
.foot-options .music {
  background-image: url("./imgs/music-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
}
.foot-options .share {
  background-image: url("./imgs/share-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
}
.foot-options .option-text {
  font-size: 0.7rem;
  color: #fff;
  margin-top: 0.1rem;
}
.card-audio {
  width: 2.4rem;
  height: 2.4rem;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  display: inline-block;
  z-index: 10;
  background:url(./imgs/music.png) no-repeat;
  background-size: 100%;

}
.play {
  -webkit-animation:rotate 1s linear infinite;
  -ms-animation:rotate 1s linear infinite;
  animation:rotate 1s linear infinite;
}
@-webkit-keyframes rotate {
  0% {
    transform:rotate(0deg);
  } 100% {
        transform:rotate(360deg);
      }
}
@-ms-keyframes rotate {
  0% {
    transform:rotate(0deg);
  } 100% {
        transform:rotate(360deg);
      }
}
@keyframes rotate {
  0% {
    transform:rotate(0deg);
  } 100% {
        transform:rotate(360deg);
      }
}
.share-area {
  width: 100%;
}
.share-area input {
  width: 100%;
  line-height: 2rem;
  font-size: 1rem;
}